.header-fixed.toolbar-fixed .wrapper {
    padding-top: 102px;
}

.content {
    padding: 30px 29px;
}

.table td:first-child,
.table th:first-child,
.table tr:first-child {
    padding-left: 20px;
}

.table-admin-services th,
.table-admin-services td {
    padding: 13px;
}

.table-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-action {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-action a {
    color: black;
}


.vender-details {
    width: 60%;
    margin: 0 auto;
}

.vender-details .NameSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.vender-details .NameSection .image-section {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.vender-details .NameSection .Role {
    color: gray;
}

.vender-details .Details-section {
    width: 90%;
    margin: 0 auto;
}

.vender-details .Details-section .description {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.vender-details .Details-section .service-section {
    margin-top: 2rem;
}